.border(@border; @box-sizing: border-box;){
  border: @border;
  box-sizing:  @box-sizing;
}
.font(@font-fam; @text-font-w)
{
  font-family: @font-fam, sans-serif;
  font-weight: @text-font-w;
}
.font-setting(@text-size; @line-height;){
  font-size: @text-size;
  line-height: @line-height;
}